################################################################################
# This .gitignore file was manually created by Nikolai Voronin.
##

/util/*.csv
/util/*.TcGVL
/util/*.mid
/src/Tc3_PcSpeaker/_*
/src/PcSpeaker_Player/_*
*.tmc
*.tpy
.vs
*.~u
